//Color

$color-primary: #03A9F4;
$color-primary-light: #B3E5FC;
$color-primary-dark: #0288D1;

$color-text: #fff;
$color-text-dark: #F5F5F5;
$color-primary-text: #212121;
$color-secondary-text: #757575;

$color-divided: #BDBDBD;
$color-accent: #00BCD4;